:root {
    --mdBlue: #666CA3;
    --darkBlue: #13183F;
    --gray: #83869A;
    --hotPink: #F74780;
    --ltPink: #FFA7C3;
    --white: #fff;
    --orangeToPink: linear-gradient(#FF6F48, #F02AA6);
    --orangeToPinkAlpha: linear-gradient(#FF6F4880, #F02AA680);
    --purpleToPink: linear-gradient(#4851FF, #F02AA6)
}

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    background: linear-gradient(var(--white), #F0F1FF);
    color: var(--gray);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    overflow-x: hidden;
    position: relative;

}

a {
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
    z-index: -1;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 2rem;
    color: var(--white);
}

.btn:hover,
a:hover {
    transition: .2s;
    cursor: pointer;
    filter: opacity(50%);
}


nav .btn {
    background-color: var(--darkBlue);
}

nav .btn:hover {
    background-color: var(--mdBlue);
}


.jumbo article {
    padding: 1rem 1.5rem;
}

h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
    color: var(--darkBlue);
    margin: 1.5rem auto;
}

.jumbo p {
    margin: 3rem 0;
}

.jumbo .btn {
    background: var(--orangeToPink);
    padding: 1rem 3rem;
    margin: 1.5rem 0px;
}


.courses {

    padding-bottom: 2rem;
}

.card {
    background-color: var(--white);
    margin: 3rem 2rem;
    border-radius: 1rem;
}

.card-body {
    position: relative;
    top: -3.5rem;
}

.card a {
    display: block;
    color: var(--hotPink)
}

article.card {
    padding: 2rem 2rem 0;
}

h2 {
    background: var(--orangeToPink);
    color: var(--white);
    font-size: 40px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2rem;
    padding: 2rem;
}

h3 {
    font-size: 24px;
    line-height: 28px;
    color: var(--darkBlue);
    font-weight: 900;
    margin: 1rem 0;
}

footer {
    background-color: var(--darkBlue);
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1.5rem;

}

footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .btn {
    background: var(--purpleToPink);
    padding: 1rem 3rem;
}

@media screen and (min-width:768px) {

    .jumbo {
        display: flex;
        margin-bottom: 12rem;
        width: 100%;
        align-items: center;
    }

    .jumbo-image {
        width: 70%;
        position: absolute;
        top: -3rem;
        right: -27%;
    }

    .jumbo article {
        max-width: 50%;
    }

    .courses {
        display: flex;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: center;
        max-width: 1314px;
        margin: 0 auto;

    }

    .card {
        width: 38%;
        display: inline-flex;
        margin: 3rem 1%;
    }
}

@media screen and (min-width:1440px) {

    .jumbo-image {
        position: absolute;
        width: 60%;
        top: -9%;
        right: -20%;
        max-width: 880px;
    }

    .jumbo {
        max-width: 1500px;
    }

    img.desktop {
        /* border: 1px solid red; */
        position: relative;
        right: -13rem;
        top: -5rem;
        z-index: 12;
    }

    .card {
        width: 20%;
        display: inline-flex;
        margin: 3rem 1rem;
    }

    header {
        max-width: 1314px;
        margin: 0 auto;
    }
}